 .wp-block-outermost-plugin-stats {

    &.field-star_rating {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
    }

	.star-rating-container {
        display: inline-flex;
        align-items: center;
        gap: 0.4em;
        
        svg {
            -webkit-margin-start: -0.8em;
            margin-inline-start: -0.8em;
            fill: currentColor;
            width: 2em;

            &:first-child {
                -webkit-margin-start: 0;
                margin-inline-start: 0;
            }
        }
    }
}
